@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.texto_excusa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto_excusa h1 {
  margin-right: 20px;
}
